<!-- Begin page content -->
 <main role="main" class="container">
   <h1 class="mt-5"><%= @about %></h1>
   <p class="lead">BOOK / SHOP to projektowana, multidyscyplinarna marka oferująca przedmioty, wydarzenia i doświadczenia związane z książkami i czytaniem. Z siedzibą w San Francisco Bay Area i Nowym Jorku.</p>
   <h5 class="mt-5">Nasza Filozofia</h5>
   <p class="lead">Niektórzy lubią czytać na ekranie. Inni ludzie potrzebują różnorodności i kunsztu, wzroku, zapachu i dotyku prawdziwych książek. Uwielbiają oglądać je na półkach; uwielbiają mieć dla  nich półki.
  Uwielbiają brać je ze sobą, gdy wychodzą z domu, i układać je przy łóżku. Uwielbiają znajdować w nich stare litery i zakładki. Lubią pamiętać, gdzie je kupili lub od kogo je otrzymali.</p>


<p class="lead"><ul>
  <h3 class="mt-5" Location Info</h3>
    <p>The BookShop</p>
    <p>Phone: (33) 653-54345</p>
    <b>Created with RoR :)</b>
  </ul>
</p>
 </main>
</div>
